@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Black.ttf");
  font-weight: 900;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3a3a3c;
  padding: 20px;
  font-family: 'Roboto';
  font-weight: 400;
}


/* header */

header {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  padding-top: 10px;
}

.header-info {
  display: flex;
  border-top: 2px solid #949599;
}

.header-info-cv {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.icon-cv {
  width: 16%;
}

.vacancy {
  color: white;
}

.header-info-main {
  padding-left: 20px;
  width: 80%;
  border-left: 2px solid #949599;
}

.name {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 30px;
  word-spacing: 18px;
  letter-spacing: 6px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #f8b6b6;
  text-decoration: none;
}


/* main */

.main-container {
  display: flex;
  border-bottom: 2px solid white;
}

.main-left {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.main-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #949599;
  border-right: 4px solid #949599;
}

.experience {
  width: 30%;
}

.first-block {
  border-bottom: 4px solid white;
  padding: 10px 0px;
  height: 20%;
}

.second-block {
  border-bottom: 4px solid white;
  height: 30%;
}

.third-block {
  border-bottom: 4px solid white;
  height: 20%;
}

.fouth-block {
  border-bottom: 4px solid white;
  height: 20%;
}

/* ava */

.ava {
  background-color: #f8b6b6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ava_photo {
  padding: 10px;
  height: 100%;
  border-radius: 50%;
}

/* contacts */

.contacts {
  background-color: #f8b6b6;
  height: 100%;
}

.contacts-list {
  list-style: none;
}

.contacts-item {
  display: flex;
  align-items: center;
}

.section_head {
  margin: 10px;
  text-transform: uppercase;
  color: white;
}

.contacts_head {
  margin: 0px;
  padding: 10px;
}

.contacts_name {
  margin: 10px;
  color: #3a3a3c;
}

.contact {
  color: #3a3a3c;
}

/* about me */

.about-wrapper {
  padding: 20px;
}

.about-text {
  color: white;
  font-weight: 300;
  text-align: justify;
}

/* education */

.education-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.education-item {
  margin: 10px;
  display: flex;

}

.hexagon {
  margin: 20px; 
  width: 100px; 
  height: 55px;
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .hexagon:before, 
  .hexagon:after {
  content: "";
  width: 0; 
  height: 0;
  position: absolute; 
  left: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  }

  .hexagon:before {
  top: -25px;
  border-bottom: 25px solid white;
  }

  .hexagon:after {
  bottom: -25px;
  border-top: 25px solid white;
  }

.hex-pink {
  background: #f8b6b6;
}

.hex-pink:before {
  border-bottom: 25px solid #f8b6b6;
}

.hex-pink:after {
  border-top: 25px solid #f8b6b6;
}

.education-short {
  font-weight: 900;
}

.education-name {
  color: white;
}

.education-place {
  font-size: 20px;
  font-weight: 500;
}

.education-speciality {
  font-weight: 300;
}

/* skills */

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.skill-name {
  margin: 8px;
  width: 20%;
  background-color: #f8b6b6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill {
  font-weight: 900;
}

/* projects */

/* languages */

.languages-container {
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin: 20px;
}

.level {
  width: 30px;
  height: 30px;
}

.c {
  background-color: #f6f6f6;
}

.b2 {
  background-color: #d5d6d8;
}

.b1 {
  background-color: #acafb4;
}

.a2 {
  background-color: #898c91;
}

.a1 {
  background-color: #696a6e;
}

.language-name {
  margin: 10px 0px;
  background-color: #f8b6b6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang {
  font-weight: 900;
}

/* code example */

pre {
  margin: 20px;
  background-color: #f8b6b6;
}










.delete {
  height: 400px;
}